<img src="imgs/melitopol.JPG" alt="" class="melitopol">
<h1>Мелитополь</h1>
<p>Мелито́поль (укр. Мелітополь, от греч. Μελιτοπόλη — «медовый город») — город областного значения в Запорожской области Украины,
административный центр Мелитопольского района и центр Мелитопольской агломерации.
Прежние названия: Киз-Яр до 1816 года, Новоалександровка до 1842 года.
</p>

<p>Расположен на реке Молочной, возле Молочного лимана, примыкающего к Азовскому морю.
В городе расположена железнодорожная станция Мелитополь — пункт транзита на пути в Крым 
(с 27 декабря 2014 года движение поездов дальнего следования осуществляется до станции Новоалексеевка,
а пригородных поездов формирования Украинских железных дорог — до станции Сиваш).
В 10 км от города расположен природный памятник «Каменная могила».
</p>
   <h2> Символика</h2>
   <p> Герб Мелитопольского уезда был утверждён 17 ноября 1844 года
    вместе с другими гербами Таврической губернии.
    Он представлял собой щит, в верхней половине которого,
    в золотом поле, находился чёрный двуглавый орёл,
    «в воспоминание покорения Тавриды победоносным оружием России»,
    а в нижней половине, в зелёном поле, была размещена золотая книга
    с крестом, «в знак поселения в этом уезде христиан».</p>

<p> В 1868 году был подготовлен проект нового герба Мелитополя:
    «В зелёном щите золотая открытая книга, сопровождаемая в голове
    щита золотым крестом с лучами». Щит должен был быть обрамлён колосьми,
    перевязанными Александровской лентой. Проект, однако, утверждён не был.</p>

<p> В Советском Союзе неофициальные гербы Мелитополя стали появляться
    с 1967 года. В частности, на одном из них были изображены зубчатое
    колесо и черешни. В 1978 году горисполком утвердил герб Мелитополя
    официально: «В рассечённом красным и лазурным щите — золотой колос
    с половиной шестерни и лазурный треугольник как символ завода
    двигателей. Золотая глава обременена чёрным названием города
    на украинском языке».</p>

<p>  В 1984 году к 200-летию Мелитополя был разработан проект нового герба:
    на щите, окрашенном в красный и синий цвета (как флаг УССР),
    изображены половина шестерни и зелёное дерево. Проект так и не был
    утверждён, но получил широкое распространение в городе. В частности,
    его можно видеть на стелле на въезде в Мелитополь.</p>

<p>  Современный «малый» герб Мелитополя был утверждён 29 августа 2003 года.
    Он представляет собой двухцветный жёлто-зелёный щит, в верхней части
    которого изображён цветок черешни, а в нижней — открытая книга и
    крест. «Большой» герб включает в себя также два молота и жёлто-синюю
    ленту с надписью «Мелітополь». Флаг города представляет собой
    двухцветное полотнище (жёлтая и зелёная полосы) с двухсторонним
    изображением герба.</p>