<div class="maincontent col-md-8 col-xs-12">
    <h1 class="col-xs-12 text-center">Popular Post</h1>

Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Aliquid aperiam asperiores aut cumque debitis delectus
    eaque enim error eveniet ex incidunt minima, nisi nobis
    nulla officia pariatur perferendis quas quia quisquam quod
    recusandae reiciendis sed sequi tempore vel. Corporis
    dignissimos, dolores libero necessitatibus odit quasi
    voluptatum. Ipsam necessitatibus perspiciatis quae
    repellat voluptatum. Accusamus culpa est facere fugit
    ipsam laboriosam nulla obcaecati ratione! Accusamus
    accusantium amet architecto assumenda aut blanditiis,
    consequatur consequuntur ducimus eligendi esse, eveniet
    excepturi facere inventore iusto laboriosam libero maxime
    minus nam natus nesciunt numquam, odit optio perferendis
    qui quia repudiandae rerum. Ab ad aliquid consectetur in
    sequi?

</div>